<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Journalist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Journalist.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-H6PVDqbdwR8olSPdHQ9dnstq5chKQvtcdgbOxC+tk0J3eJpxoC1E/RplSSxRcJS3Kox+4Jce6SARkaEfnQlBKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    .profile-picture {
        height: 200px;
        width: 200px;
        text-align: center;
    }

    .card {
        display: block;
        width: 350px;
        flex-direction: column;
        border: 0.5px solid black;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }

    .card-footer {
        background-color: #FFFFFF;
        padding: 10px 20px;
        text-align: end;
    }


    .container {
        max-width: 800px;
        padding: 10px;
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>

<body>
    <header class="container">
        <div class="text-center" style="padding-top:50px;">
           <h1 >JOURNALISM</h1>
           <p>A journey through words!</p>
            <div style="border: 1.5px solid black;"></div>
            <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                         <ul class="navbar-nav flex-grow-1align-cont">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-youtube"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-whatsapp"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header> 
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &commat; 2024 -GitHub - <a href="">Bikash-Meher</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
