
@{
    ViewData["Title"] = "CourseDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .profile-picture {
        height: 200px;
        width: 200px;
        align-content: center;
    }
</style>
<h1>About Mr. Arun Course</h1>
<section id="details">
    <div class="container">
        <h2>Course overview</h2>
        <p>During the two weeks of this exclusive online course, you will discover various narrative strategies, study the craft of investigative reporting, grasp the subtleties of ethical journalism, and receive one-on-one coaching and feedback from Mr. Arun.</p>

    </div>
</section>
<section id="details">
    <div class="container">
        <h2>Why "Journalism"?</h2>
<ul>
    <li>Expert Teacher </li>
    <li>Recorded Class(24x7)</li>
    <li>Live Sessions</li>
    <li>Personalized Feedback</li>
    <li>Community Building</li>
</ul>
    </div>
</section>
<section id="enroll">
    <div class="container">
        <h2>Enroll Now! to discover hidden jems of Jonalism.</h2>
        <a href="#" class="btn">Enroll Now</a>
    </div>
</section>

